[user]
	name = vmlaker
	email = velimir.mlaker@gmail.com
[core]
	editor = emacs
[merge]
	tool = tkdiff
[difftool]
        prompt = false
[push]
	default = simple
[alias]
	co = checkout
	st = status
	ci = commit
        dt = difftool
        uc = reset --soft HEAD^
