[user]
	name = vmlaker
	email = velimir.mlaker@gmail.com
[IncludeIf "gitdir:~/work/ccc/"]
        path = ~/work/ccc/.gitconfig
[core]
	editor = emacs
[merge]
	tool = tkdiff
[difftool]
        prompt = false
[push]
	default = simple
[alias]
        br = branch
        dt = difftool
	ci = commit
	co = checkout
	st = status
        uc = reset --soft HEAD^
