[submodule ".emacs.d/jade-mode"]
	path = .emacs.d/lisp/jade-mode
	url = https://github.com/brianc/jade-mode
[submodule ".emacs.d/coffee-mode"]
	path = .emacs.d/lisp/coffee-mode
	url = https://github.com/defunkt/coffee-mode
[submodule ".emacs.d/yaml-mode"]
	path = .emacs.d/lisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule ".emacs.d/lisp/ESS"]
	path = .emacs.d/lisp/ESS
	url = https://github.com/emacs-ess/ESS
[submodule ".emacs.d/lisp/guess-style"]
	path = .emacs.d/lisp/guess-style
	url = https://github.com/vmlaker/guess-style
